<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="schedulerConfigSection" type="Daw.Common.Configuration.SchedulerConfigSection, Daw.Common.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>    
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
          name="textWriterTraceListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="C:\arse\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>

  <schedulerConfigSection xmlns="urn:Daw.Common.Configuration">
    <schedules name="">

      <scheduleConfigItem index="1" enabled="true" bookie="Betfred" intervalsecs="100" name="AntePost" sport="HorseRacing"
                          url="http://xml.betfred.com/horse-racing-antepost.xml" type="xml" transform="Betfred.xslt" 
                          feedtype="antepost" fixturesonly="false"/>
  
      <scheduleConfigItem index="2" enabled="false" bookie="Bet365" intervalsecs="100" name="AntePost" sport="HorseRacing"
                          url="http://oddsfeed.bet365.com/HorseRacingWEW.asp?EventGroupID=27052318" type="xml" transform="Bet365.xslt" feedtype="antepost" fixturesonly="false"/>

      <scheduleConfigItem index="3" enabled="false" bookie="BetVictor" intervalsecs="100" name="AntePost" sport="HorseRacing" fixturesonly="false"
                          url="http://services.betvictor.com/omds/events/query/eventpaths/364/markettypes/-1/periods/-1.xml?ep=true&amp;e=true&amp;m=false&amp;o=false" type="xml"
                           transform="BetVictor.xslt" feedtype="antepost" />
      <scheduleConfigItem index="4" enabled="false" bookie="Coral" intervalsecs="100" name="AntePost" sport="HorseRacing" fixturesonly="false"
                          url="http://xmlfeeds.coral.co.uk/oxi/pub?template=getHierarchyByClass&amp;class=223&amp;dateFrom=#TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow, &quot;GMT Standard Time&quot;).ToString(&quot;yyyy-MM-dd HH:mm&quot;)#" type="xml"
                           transform="Coral.xslt" feedtype="antepost"/>
      <scheduleConfigItem index="5" enabled="false" bookie="Ladbrokes" intervalsecs="100" name="AntePost" sport="HorseRacing" fixturesonly="false"
                          url="http://www.ladbrokes.com/oxi/external/dbPublish?action=template&amp;template=getEventsByClass&amp;class=210000130" type="xml"
                           transform="Ladbrokes.xslt" feedtype="antepost"/>

      <scheduleConfigItem index="6" enabled="false" bookie="PaddyPower" intervalsecs="100" name="AntePost" sport="HorseRacing" fixturesonly="false"
                     url="http://xml.paddypower.com/platinum/racing.xml" type="xml" transform="PaddyPower.xslt" feedtype="antepost"/>

      <scheduleConfigItem index="7" enabled="false" bookie="SkyBet" intervalsecs="100" name="AntePost" sport="HorseRacing" fixturesonly="false"
                 url="https://services.skybet.com/sportsapi/v2/horse-racing?api_user=moneta|antepost" type="xml" transform="SkyBet.xslt" feedtype="antepost"/>

      <scheduleConfigItem index="8" enabled="true" bookie="WilliamHill" intervalsecs="100" name="AntePost" sport="HorseRacing" fixturesonly="false"
                 url="http://cachepricefeeds.williamhill.com/openbet_cdn?action=template&amp;template=getHierarchyByMarketType&amp;classId=13&amp;marketSort=--&amp;filterBIR=N" type="xml"
                           transform="WilliamHill.xslt" feedtype="antepost"/>
      <scheduleConfigItem index="9" enabled="false" bookie="Betfred" intervalsecs="100" name="UKRacing" sport="HorseRacing" fixturesonly="false"
                    url="http://xml.betfred.com/horse-racing-uk.xml" type="xml" transform="Betfred.xslt" feedtype="current"/>


    </schedules>
  </schedulerConfigSection>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="Daw.Services.WindowsService.WebService.EngineWebService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/EngineWebService/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="basicHttpBinding" contract="Daw.Common.Interfaces.IEngineWebService">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <log4net>
    <appender name="RollingFileAppenderAll" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/Daw.Service.WindowsService.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value=".yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-6level %logger - %message %exception%newline" />
      </layout>
    
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppenderAll" />
    </root>
  </log4net> 
  
</configuration>