<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="schedulerConfigSection" type="Daw.Services.WindowsService.SchedulerConfigSection, Daw.Services.WindowsService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>    
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
          name="textWriterTraceListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="C:\arse\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>

  <schedulerConfigSection xmlns="urn:Daw.Services.WindowsService">
    <schedules name="">

      <scheduleConfigItem index="1" enabled="true" bookie="Betfred" intervalsecs="100" name="AntePost" sport="HorseRacing"
                          url="http://xml.betfred.com/horse-racing-antepost.xml" type="xml"/>
      <scheduleConfigItem index="2" enabled="true" bookie="Bet365" intervalsecs="100" name="AntePost" sport="HorseRacing"
                          url="http://oddsfeed.bet365.com/HorseRacingWEW.asp?EventGroupID=27052318" type="xml"/>

      <scheduleConfigItem index="3" enabled="true" bookie="BetVictor" intervalsecs="100" name="AntePost" sport="HorseRacing"
                          url="http://services.betvictor.com/omds/events/query/eventpaths/364/markettypes/-1/periods/-1.xml?ep=true&amp;e=true&amp;m=false&amp;o=false" type="xml"/>
      <scheduleConfigItem index="4" enabled="false" bookie="Coral" intervalsecs="100" name="AntePost" sport="HorseRacing"
                          url="http://xmlfeeds.coral.co.uk/oxi/pub?template=getHierarchyByClass&amp;class=223&amp;dateFrom=#TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow, &quot;GMT Standard Time&quot;).ToString(&quot;yyyy-MM-dd HH:mm&quot;)#" type="xml"/>
      <scheduleConfigItem index="5" enabled="true" bookie="Ladbrokes" intervalsecs="100" name="AntePost" sport="HorseRacing"
                          url="http://www.ladbrokes.com/oxi/external/dbPublish?action=template&amp;template=getEventsByClass&amp;class=210000130" type="xml"/>

      <scheduleConfigItem index="6" enabled="true" bookie="PaddyPower" intervalsecs="100" name="AntePost" sport="HorseRacing"
                     url="http://xml.paddypower.com/platinum/racing.xml" type="xml"/>

      <scheduleConfigItem index="7" enabled="false" bookie="SkyBet" intervalsecs="100" name="AntePost" sport="HorseRacing"
                 url="https://services.skybet.com/sportsapi/v2/horse-racing?api_user=moneta|antepost" type="xml"/>

      <scheduleConfigItem index="8" enabled="true" bookie="WilliamHill" intervalsecs="100" name="AntePost" sport="HorseRacing"
                 url="http://whdn.williamhill.com/pricefeed/openbet_cdn?action=template&amp;template=getHierarchyByMarketType&amp;classId=13" type="xml"/>

    </schedules>
  </schedulerConfigSection>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <log4net>
    <appender name="RollingFileAppenderAll" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value=".yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-6level %logger - %message %exception%newline" />
      </layout>
    
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppenderAll" />
    </root>
  </log4net> 
  
</configuration>